<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Comprar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let articulo of articulos">
      <td>{{articulo.nombre}}</td>
      <td>{{articulo.descripcion}}</td>
      <td>{{articulo.precio / 100}}€</td>
      <!-- <td>{{articulo._id}}</td> -->
      <td><button class="btn btn-outline-info" routerLink="/detalle/{{articulo._id}}">Comprar</button></td>
    </tr>
  </tbody>
</table>