<div class="modal-header">
  <h5 class="modal-title">¿Deseas confirmar el pago?</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Datos del pago</h5>
  <p><b>ID:</b> {{id}}</p>
  <p><b>Nombre:</b> {{nombre}}</p>
  <p><b>Descripcion:</b> {{descripcion}}</p>
  <p><b>Precio:</b> {{precio / 100}}€</p>
</div>
<div class="modal-footer d-flex justify-content-between">
  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="confirmar(id)">Confirmar</button>
  <button type="button" class="btn btn-danger" (click)="cancelar(id)">Cancelar</button>
</div>