<form novalidate (ngSubmit)="createToken()" [formGroup]="stripeForm" #f="ngForm">
  <input type="text" formControlName="name" placeholder="Nombre" class="form-control" (keyup)="getName($event)">
  <ngx-stripe-card
    [options]="cardOptions"
    [elementsOptions]="elementsOptions"
  ></ngx-stripe-card>
  <div *ngIf="error" class="alert alert-danger">
    {{error}}
  </div>
  <button type="submit" class="btn btn-outline-success" [disabled]="!f.valid">
    Comprar
  </button>
</form>